.button {
    -fx-background-color: #3498db; /* Set background color */
    -fx-text-fill: #ffffff; /* Set text color */
    -fx-font-size: 14; -fx-font-weight: bold; -fx-text-fill: white;
    
}

.label {
    -fx-font-size: 16px; /* Set font size */
    -fx-font-size: 14; -fx-font-weight: bold; -fx-text-fill: blue;
    
}
.Font{
	-fx-font-size: 22; -fx-font-weight: bold; -fx-text-fill: white;
}